body {
    background-color: rgba(224, 221, 166, 0.747);
    font-family: 'Abyssinica SIL', serif;
}

.contact {
    background-color: black;
    text-align: left;
    color: beige;
}

nav {
    font-size: 1rem;
}